/* can some of these styles be pushed to a bulma class? */
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
#map {
    height: 700px;
}

#results {
  height: 100%;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.hero {
    background-image: url("https://source.unsplash.com/N-aTikX-b00/1600x900");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* reset bulma panel styles */
.card-header {
  box-shadow: none;
}

.card:not(:last-child) {
  margin: 0;
}

div.weather-body {
  margin: 0;
  padding: 0 0 1rem 1rem;
}

/* bulma accordion code from siongui.github.io */
input[name="accordion-select"], .card-content {
    display: none;
  }
  label.card-header {
    cursor: pointer;
    display: block;
  }
  
  /* the magic */
  #card-1:checked ~ .card > .body-1,
  #card-2:checked ~ .card > .body-2,
  #card-3:checked ~ .card > .body-3,
  #card-4:checked ~ .card > .body-4,
  #card-5:checked ~ .card > .body-5 {
    display: block;
  }