/* can some of these styles be pushed to a bulma class? */
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
#map {
    height: 700px;
}

#results {
  height: 100%;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.hero {
    background-image: url("https://source.unsplash.com/N-aTikX-b00/1600x900");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}