/* can some of these styles be pushed to a bulma class? */
/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
#map {
    height: 700px;
}

#results {
  height: 100%;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.hero {
    background-image: url("https://source.unsplash.com/N-aTikX-b00/1600x900");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/* reset bulma panel styles */
.panel {
  box-shadow: none;
}

.panel:not(:last-child) {
  margin: 0;
}

/* bulma accordion code from siongui.github.io */
input[name="accordion-select"], .panel-block {
    display: none;
  }
  label.panel-heading {
    cursor: pointer;
    display: block;
  }
  
  /* the magic */
  #panel-1:checked ~ .panel > .body-1,
  #panel-2:checked ~ .panel > .body-2,
  #panel-3:checked ~ .panel > .body-3,
  #panel-3:checked ~ .panel > .body-4,
  #panel-3:checked ~ .panel > .body-5 {
    display: flex;
  }